support for `wss` scheme

when trying to establish a websocket connection, I need to make a request to a URI that starts with `wss`: `wss://gateway.discord.gg/?v=10&encoding=json`.

when using `Request` from the `gleam_http` package, trying to configure one fails as the only acceptable variants of `Scheme` are `Http` and `Https`. as seen [here](https://github.com/gleam-lang/http/blob/a9c747b9930bc0262ec95bef484e145c3db6df02/src/gleam/http.gleam#L102), it'll try to extract the scheme and error out if it's not http(s). is this something stratus can support internally by having a custom request type that expands the scheme variants? if so, i'm happy to work on an implementation, just wanted to start a convo as i'm not sure where this lands (here, `gleam_http`, etc.).

I'm a little unsure of the right way to handle this.  I expect people will probably come into the library and copy paste some URL, or use what they expect in the browser.

Since the handshake is over HTTP(S), it makes sense to use the `Request` shape.  This means that you should use `ws -> http; wss -> https` on the URL.

I originally had it where you specific a URL, where you could then use `ws(s)`.  But it gets hairy for passing headers.  I could do that separately, but that doesn't seem quite as nice of an API.

where along the way does the scheme actually change then? it was my understanding that after the upgrade websocket communication happens solely over ws(s) but i only see references to the `Scheme` type in both `stratus` and `gramps`. i agree that it makes sense to only allow the `Request` shape, so some of this may just be me needing to learn more about websockets themselves and/or erlang since when i use https i get the following error:

```
Description: "Server authenticity is not verified since certificate path validation is not enabled"
Reason: "The option {verify, verify_peer} and one of the options 'cacertfile' or 'cacerts' are required to enable this."
```

i have never needed a certfile with any discord bot before, so im not sure if this is saying _im_ missing a certfile or if _they're_ missing a certfile.

also for context, [here](https://discord.com/developers/docs/topics/gateway#connection-lifecycle)'s how they describe they're websocket connection process

What is the URL that you're using to connect to?  I'm not sure about that `verify` one, but I can look into that.  I was able to connect before without it though.

Re:  the scheme.  The WebSocket upgrade is handled via an HTTP request.  If that upgrade is successful, the connection is treated as a WebSocket going forward.  I see that the protocol does define the `ws` and `wss` schemes.

I'd be curious to see if Louis wants to expand the `Scheme` options.  If I want to figure out a way to support it without, I think I'd have to move away from `Request`.  I'd say this is at least the best approach for now.

oof, in my code when i switched from the url retrieved via the api to the one i manually entered for debugging purposes, i switched it from `.gg` to `.com`. forgot about the gamer domain 😔 successfully got an upgrade and message from the websocket server :)

No worries!  I'm definitely open to discussion around the protocol situation.  I'm sure you won't be the first person who runs into it.

I'd like to reopen this issue as I'm running into this limitation of not supporting `ws` and `wss`. I'm trying to implement the WebDriver BiDi spec in gleam, which works purely over the ws scheme.

Unfortunately I don't know that much about websockets, this project is mostely a learning exercise into this topic, so I don't know how much I can contribute in terms of protocol discussion.

Ah interesting.  This uncovered some stuff I was definitely doing wrong, so thank you 😄 

Here is an entry from the RFC that I missed when implementing this:

```markdown
7.   The request MUST include a header field with the name
        |Sec-WebSocket-Key|.  The value of this header field MUST be a
        nonce consisting of a randomly selected 16-byte value that has
        been base64-encoded (see [Section 4 of [RFC4648]](https://datatracker.ietf.org/doc/html/rfc4648#section-4)).  The nonce
        MUST be selected randomly for each connection.
```

What I think I _did_ do correctly is the ignore any user-specified value for this header.  It doesn't particularly matter what the value is (as far as I can tell? 😬).  Unfortunately I was hard-coding it to a fixed value, which is definitely not correct.  So I will be fixing that!

What I also find interesting though, is why your example is failing.  I don't believe the value for `sec-websocket-key` is valid by the above rules.  So I'm a bit confused why it would be working elsewhere... Is the server you're connecting to expecting a specific value for this key?

I'm going to update this library to randomly generate a valid key based on the above rules.  But I'm not sure this this going to fix your issue.